<%- include('header', {title: '新增发票',invoice:true}) %>

<link href="/stylesheets/invoice_styles.css" rel="stylesheet" type="text/css"/>
<div class="main-container" id="addInvoiceContainer">
    <p class="view-app-nav"><a href="/invoice">发票</a>/<span>新增</span></p>
    <% if (typeof(error) !== 'undefined') { %>
    <div class="alert alert-error show">
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    </div>
    <%  } %>
    <form action="/addInvoiceInfo" method="post" class="form-container" id="invoiceForm">
        <div class="form-inline content-spacing">
            <div class="form-group">
                <label for="exampleInputName2">发票金额：</label>
                ￥
                <input type="text" class="form-control" name="invoice_money" />
            </div>
        </div>
        <div class="form-group content-spacing">
            <label for="exampleInputName2">备注：</label>
            <textarea class="form-control" rows="6" placeholder="在此填写备注..."  name="invoice_remarks"></textarea>
        </div>
        <div class="form-group content-spacing float-right">
            <button type="button" class="btn btn-success" id="submitData">提交发票信息</button>
        </div>
    </form>
</div>

<script type="text/javascript">
    var dom = function (id) {
        return   document.getElementById(id);
    };
    var submitBtn  = dom('submitData'),
        invoiceForm  = dom('invoiceForm');
    submitBtn.onclick = function () {
        console.log('click me .');
        invoiceForm.submit();
    };

</script>
<% include  footer.ejs %>