<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>错误页面 - APP后台管理系统</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="/libs/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="/libs/css/login.css" rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL STYLES -->
    <link rel="shortcut icon" href="/favicon.ico" />
    <style type="text/css">
        #error_content{width:600px; height:300px;background: none}
    </style>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">
<!-- BEGIN LOGO -->
<div class="logo">
    <img src="/images/icon.png" alt="" class="logo-img"/>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content" id="error_content">

    <div class="alert alert-danger alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
        <h4>ERROR</h4>
        <p>
            <% if (typeof(error) !== undefined) {%>
                <%= error %>
            <% } %>
        </p>
        <!--倒计时-->
        <p id="countdown">5</p>
        <p>
            <a href="<%- typeof(url) !== 'undefined' ? url : '/' %>">
                <button type="button" class="btn btn-danger">返回</button>
            </a>
        </p>
    </div>
</div>

<script type="text/javascript">
    var dom = document.getElementById('countdown');
    var timer = 5;
    setTimeout(function () {timer--},1000);
    setInterval(function () {
        dom.innerText = timer--;
        if (timer == 0) {
            window.location.href = '<%- url %>';
        }
    },1000);
</script>
<!-- END LOGIN -->
<!-- BEGIN COPYRIGHT -->
<div class="copyright">
    2017 &copy; Sipeng Technology.
</div>
<!-- END COPYRIGHT -->
<!-- END BODY -->
</html>