<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>人员评估系统 -- <%= title %></title>
  <meta name="Keywords" content="关键词1,关键词2">
  <meta name="description" content="网页的描述内容">

  <link rel="stylesheet" href="/libs/css/newbootstrap.min.css" />
  <link rel="stylesheet" href="/libs/css/public_style.css" />
</head>
<body>

<!--start: navigator-->
<div id="header">
  <div class="nav-container">
    <div class="nav-logo">
      <a href="/index"><img src="/images/logo.png" alt="zhiyi logo"/><span>致一科技</span></a>
    </div>
    <div class="nav-navs">
      <ul class="navs-ul">
        <li class="navs-li">
          <% if ( typeof(home) !== 'undefined' ) { %>
          <a href="/index" class="nav-active">首页</a>
          <% } else { %>
          <a href="/index" class="nav-noActive">首页</a>
          <% } %>
        </li>
        <li class="navs-li">
          <% if ( typeof(summary) !== 'undefined' ) { %>
          <a href="/summarize" class="nav-active">汇总</a>
          <% } else { %>
          <a href="/summarize" class="nav-noActive">汇总</a>
          <% } %>
        </li>
        <li class="navs-li">
          <% if ( typeof(invoice) !== 'undefined' ) { %>
          <a href="/invoice" class="nav-active">发票</a>
          <% } else { %>
          <a href="/invoice" class="nav-noActive">发票</a>
          <% } %>
        </li>
        <li class="navs-li">
          <% if ( typeof(furlough) !== 'undefined' ) { %>
          <a href="/furlough" class="nav-active">请假</a>
          <% } else { %>
          <a href="/furlough" class="nav-noActive">请假</a>
          <% } %>
        </li>
      </ul>
    </div>
    <div id="login-register">
      <a href="javascript:void(0)">个人中心</a></a>
      /
      <a href="/modifyPasswd">修改密码</a></a>
      /
      <a href="/signout">退出</a></a>
      <% if (typeof(admin) !== 'undefined' && admin) { %>
      /
      <a href="/signup">注册</a></a>
      <% } %>
    </div>
  </div>
</div>
<!--end: navigator-->

