<% if ( is_admin.indexOf('1') > 0 ) {%>
  <%- include('header', {title: '首页',home:true,admin:true})  %>
<% } else { %>
  <%- include('header', {title: '首页',home:true,admin:false})  %>
<% } %>

<link href="/libs/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="/libs/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="stylesheets/home_style.css" />
<style>
  .userList{display: inline-block;  margin: 0 6px 8px 0;} #dateQuery{width: 143px;}
  .glyphicon-calendar:before {content: "\1f4c5";}
</style>

<!--start: container-->
<div class="main-container" id="homeContainer">
  <blockquote>
    <p><%= name %> , 欢迎你！ </p>
  </blockquote>
  <div class="alert alert-danger error_tooltip" role="alert" id="error-info" v-if="isError">{{errorMsg}}</div>

  <!--人员列表 START-->
  <template v-for="wwa in workRecordArrayUsers">
    <a href="javascript:void(0)" @click="getWorkRecordByUserId(wwa.user_id,wwa.userName)" class="userList">
      <img :src="wwa.avatar?wwa.avatar:'/images/user.png'" alt="user icon" class="user-icon" width="60px" style="border-radius:50%;"/>
      <span> {{ wwa.userName }} </span>
    </a>
  </template>
  <!--人员列表 END-->

  <div class="tools-bar">
    <!--<select class="form-control" id="timeSelection" v-model="time" @change="selectDate">-->
      <!--<option v-for="sa in selectArray" :value="sa">{{sa}}</option>-->
    <!--</select>-->

    <!--时间选择:start-->
    <div class="input-group date form_date col-md-5" data-date="" data-date-format="yyyy-mm-dd"
         data-link-field="dtp_input2" data-link-format="yyyy-mm-dd" id="dateQuery">
      <input class="form-control" size="16" type="text" value="" readonly id="dateselection"/>
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
    <!--时间选择:end-->

    <button type="button" class="btn btn-success working" onclick="location.href='/getIndexDataByWorkState'">
      <i class="icon-time"></i> 工作中
    </button>
    <a href="/add">
      <button type="button" class="btn btn-success add-work"><i class="icon-plus"></i> 添加</button>
    </a>
  </div>
  <!--workList start-->
  <div class="work-lists">
      <ul class="lists-ul">
        <template v-for="wa in workRecordArray">
          <li class="lists-li">
            <div class="base-info">
              <img :src="wa.avatar?wa.avatar:'/images/user.png'" alt="user icon" class="user-icon"/>
              <!--left content-->
              <div class="left-info">
                <p><i class="icon-user"></i> {{ wa.userName }}</p>
                <p><i class="icon-info-sign"></i> {{ wa.work_state == 0 ? ' -- ' : wa.self_score }} <span>分</span> </p>
              </div>
              <!--right content-->
              <div class="right-info">
                <p><i class="icon-time"></i>
                  {{ wa.start_worktime }}
                  -
                  {{ wa.work_state == 0 ? '暂无' : wa.end_worktime }}
                </p>
                <p v-if="wa.work_state==0" style="color:red;">工作中...</p>
              </div>
            </div>
            <!--work content-->
            <div class="work-content-info">
              <p class="work-text"><span style="color:red">计划：</span>{{ wa.planContent }} <span style="color:red">总结：</span>
                {{ wa.work_state == 0 ? '暂无总结' : wa.completedContent }}
              </p>
            </div>
            <!--操作-->
            <div class="operation-content" v-if="wa.work_state == 1">
             <template v-if="wa.isEdit">
               <a :href='"/edit?workId="+wa.id+"&uname="+wa.uname+"&createTime="+new Date(wa.create_time).getTime()' class="edit-work-content"><i class="icon-edit"></i>编辑</a>
             </template>
              <span class="overtime"><i class="icon-coffee"></i> {{ wa.work_time }} <span>小时</span> </span>
              <div class="score-operation">
                <span class="opera-work-content" @click="setScore('zan',wa.id,wa.uname,wa.create_time,wa.scored,wa.user_id)">
                  <i class="icon-thumbs-up" :style="wa.zan ? 'color : red' : 'color : #000'"></i>
                </span>
                <span class="opera-work-content" @click="setScore('cai',wa.id,wa.uname,wa.create_time,wa.scored,wa.user_id)">
                  <i class="icon-thumbs-down" :style="wa.cai ? 'color:red' : 'color : #000'"></i>
                </span>
              </div>
            </div>
          </li>
        </template>
        <li class="lists-li" v-if="workRecordArray.length == 0">今日暂无工作记录</li>
      </ul>
  </div>
  <!--workList end-->
</div>
<!--end: container-->
<script type="text/javascript" src="/libs/js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="/libs/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/libs/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="/libs/js/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript" src="/libs/js/vue.v2.0.3.js"></script>
<script type="text/javascript" src="/libs/js/vue-resource.min.js"></script>
<script type="text/javascript" src="/javascripts/home_script.js"></script>
<script type="text/javascript">
  $('.form_date').datetimepicker({
      language:  'zh-CN',
      weekStart: 1,
      todayBtn:  1,
      autoclose: 1,
      todayHighlight: 1,
      startView: 2,
      minView: 2,
      forceParse: 0,
      startDate:'2017-02-23',
      endDate: homeContainer.getNowFormatDate()
  });
  window.onload = function () {
    $('#dateselection').val(homeContainer.getNowFormatDate());
  };
  /**
   * time selection
   */
  $('.form_date').datetimepicker().on('changeDate', function(ev){
      var time = $('#dateselection').val();
      homeContainer.time = time;
      homeContainer.selectDate();
  });
</script>
<% include  footer.ejs %>

