<!DOCTYPE html><html><head><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"><meta name=apple-mobile-web-app-capable content=yes><meta name=apple-mobile-web-app-status-bar-style content=black><title>房卡系统</title><link href=/static/css/app.c68cc3e397e52cfc5bb1b7da0bebdd66.css rel=stylesheet></head><body><div id=app></div><script type=text/javascript src=/static/js/manifest.43ad2a0abcd5e1547f45.js></script><script type=text/javascript src=/static/js/vendor.11f1382819a18f5da29c.js></script><script type=text/javascript src=/static/js/app.8d9249f3ae9f791a8b6c.js></script></body><script>document.documentElement.addEventListener('touchstart', function (event) {
      if (event.touches.length > 1) {
        event.preventDefault();
      }
    }, false);

    var lastTouchEnd = 0;
    document.documentElement.addEventListener('touchend', function (event) {
      var now = Date.now();
      if (now - lastTouchEnd <= 300) {
        event.preventDefault();
      }
      lastTouchEnd = now;
    }, false);</script></html>