<%- include('header', {title: '发票',invoice:true}) %>

<link href="/libs/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="/stylesheets/invoice_styles.css" rel="stylesheet" type="text/css"/>
<!--start: container-->
<div class="main-container" id="invoiceContainer">
    <div class="alert alert-danger" role="alert" id="error-info" v-if="isError">{{errorMsg}}</div>
    <div class="tools-bar">
        <!--<select class="form-control" id="timeSelection" v-model="time" @change="selectDate" disabled>-->
            <!--<option v-for="sa in selectArray" :value="sa">{{sa}}</option>-->
        <!--</select>-->
        <% if (admin) { %>
            <button type="button" class="btn btn-success" id="unSureBtn" @click="unsure">未确认</button>
            <button type="button" class="btn btn-success" id="myInvoiceBtn" @click="myInvoice">我的发票</button>
        <% } else { %>
            <button type="button" class="btn btn-success" id="myInvoiceBtn" @click="myInvoice">我的发票</button>
        <% } %>
        <a href="/addInvoice">
            <button type="button" class="btn btn-success add-work"><i class="icon-plus"></i> 添加</button>
        </a>
    </div>

    <!--lists-->
    <div class="work-lists">
        <ul class="lists-ul">
            <template v-for="ia in invoiceArray">
                <li class="lists-li">
                    <div class="base-info">
                        <img :src="ia.avatar?ia.avatar:'/images/user.png'"  alt="user icon" class="user-icon"/>
                        <!--left content-->
                        <div class="left-info">
                            <p><i class="icon-user"></i> {{ ia.userName }}</p>
                            <p><i :class="ia.invoice_sure==0?'un-active':'actived'" class="icon-circle"></i> <span>￥</span> {{ ia.invoice_money }}</p>
                        </div>
                        <!--right content-->
                        <div class="right-info">
                            <p><i class="icon-time"></i>
                                {{ ia.create_time }}
                            </p>
                            <!--<p><i class="icon-circle un-active"></i> <span>￥</span> 30</p>-->
                            <% if(admin) { %>
                                <a href="javascript:void(0)" @click="sureInvoice(ia.id)" v-if="ia.invoice_sure==0">确认发票</a>
                            <% } %>
                        </div>
                    </div>
                    <!--work content-->
                    <div class="work-content-info">
                        <p class="work-text">{{ ia.invoice_remarks }}</p>
                    </div>
                </li>
            </template>
            <li class="lists-li" v-if="invoiceArray.length == 0">暂无发票记录</li>
        </ul>
    </div>
    <!--/lists-->

    <!--pagination: start-->
    <div class="pagination-container" v-if="isShow">
        <ul class="pagination">
            <li>
                <a href="javascript:void(0)" @click="paginationHandle('prev')" >&laquo;</a>
            </li>

            <template v-for="pag in pagination">
                <li :class="pag.active">
                    <a href="javascript:void(0)" @click="paginationHandle('jump',pag.index)">{{ pag.index }}</a>
                </li>
            </template>

            <li><a href="javascript:void(0)"  @click="paginationHandle('next')">&raquo;</a></li>
        </ul>
    </div>
    <!--pagination: end-->
</div>
<script type="text/javascript" src="/libs/js/vue.v2.0.3.js"></script>
<script type="text/javascript" src="/libs/js/vue-resource.min.js"></script>
<script type="text/javascript" src="/libs/js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="/libs/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/invoice_scripts.js"></script>
<% include  footer.ejs %>