<%- include('header', {title: '修改密码',home:true})  %>
<link rel="stylesheet" href="/stylesheets/modifyPasswd_styles.css" />

<div class="main-container" id="homeContainer">
    <% if (typeof(error) !== 'undefined') { %>
    <div class="alert alert-error show">
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    </div>
    <%  } %>
    <form action="/updatePasswd" method="post" class="form-container" id="modifyForm">
        <div class="form-group">
            <label for="exampleInputName2" >原密码：</label>
            <input type="password" class="form-control"  name="protPwd" id="protPasswd"/>
        </div>
        <div class="form-group">
            <label for="exampleInputName2" >新密码：</label>
            <input type="password" class="form-control"  name="newPwd" id="newPasswd"/>
        </div>
        <div class="form-group">
            <label for="exampleInputName2" >确认密码：</label>
            <input type="password" class="form-control"  name="confirmPwd" id="confirmPasswd"/>
        </div>

        <div class="form-group content-spacing float-right">
            <button type="button" class="btn btn-success" id="submitData">
                修改密码
            </button>
        </div>
    </form>
</div>

<script type="text/javascript">
    var dom = function (id) {
        return   document.getElementById(id);
    };
    var submitBtn  = dom('submitData'),
        modifyForm  = dom('modifyForm');
    submitBtn.onclick = function () {
        console.log('click me .');
        modifyForm.submit();
    };

</script>
<% include  footer.ejs %>