.main-container{width: 960px;margin: 30px auto;height: auto;}

.main-container .view-app-nav {
    margin-bottom: 10px;
    font-size: 16px;
}
.main-container .content-spacing{margin-top:28px;}
.main-container .prompt{color:#b9b9b9;}
.main-container .Invoice{margin-left:30px;}
.main-container .float-right{  text-align: right;}

#addWorkBtn{    background: none;  border: 0;}
.form-container{margin-top: 20px;}